body {
    width: 1920px;
    padding: 0px;
    margin: 0px;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.context {
    width: 1180px;
    margin: 0 auto;
    z-index: 0;
}

/* 头部导航栏 */
.header {
    width: 100%;
    height: 80px;
    background-color: #522a5c;
    color: white;
}

.header .headMain {
    width: 980px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    position: relative;
}

.header .headMain span {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

.header .headMain ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.header .headMain ul li {
    float: left;
    margin-right: 28px;
    font-size: 16px;
}

.header .logoImg {
    float: right;
    margin-top: -34px;
    margin-right: 10px;
}

/* 页脚导航 */
.footer {
    width: 100%;
    background-color: black;
    color: #999;
}

.footer a {
    color: #999;
}

.footer .navBar {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

.footer .navBar span {
    font-size: 14px;
    margin-right: 28px;
}

.footer .navBar #lastspan {
    margin-right: 0;
}

.footer .footerMain {
    width: 980px;
    margin: 50px auto 0;
    font-size: 13px;
    overflow: hidden;
}

.footer .footerMain .friendURL {
    text-align: center;
    width: 192px;
    float: left;
}

.footer .copyRight {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}

.footer .copyRight .footLogoImg {
    margin-bottom: -5px;
}

/* index.html */
.indexContext img {
    width: 1180px;
}

.indexContext .desc {
    width: 980px;
    height: 200px;
    margin: -210px auto 0;
    color: white;
    position: relative;
}

.indexContext .desc .aticle {
    width: 360px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
                        to bottom,   
                        rgba(255, 255, 255, 0.5) 0%,     
                        rgba(255, 255, 255, 0.3) 75%,   
                        rgba(255, 255, 255, 0) 100%
                        );  
}

.indexContext .desc .aticle h4 {
    text-align: right;
    line-height: 0;
    font-size: 14px;
}

.indexContext .desc .aticle p {
    margin-top: 12px;
    font-size: 12px;
    line-height: 150%;
}

.indexContext .aticles {
    height: 550px;
    background-color: #eee;
}

.indexContext .aticles .topic {
    width: 980px;
    margin: 0px auto;
    overflow: hidden;
}

.indexContext .aticles .topic .aticle {
    width: 300px;
    background-color: white;
    float: left;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
}

.indexContext .aticles .topic #aticle3 {
    margin-right: 0;
}

.indexContext .aticles .topic .aticle img {
    width: 290px;
    height: 180px;
}

.indexContext .aticles .topic .aticle p {
    font-size: 12px;
    line-height: 170%;
    margin: 15px 30px 25px 30px;
    text-align: left;
}

.indexContext .myDesc {
    height: 550px;
    background-color: white;
    text-align: center;
}

.indexContext .myDesc img {
    width: 160px;
    height: 160px;
    margin-top: -50px;
    border-radius: 80px;
}

.indexContext .myDesc h3 {
    font-size: 20px;
    font-family: "Century Gothic";
    margin-top: 60px;
}

.indexContext .myDesc p {
    font-size: 14px;
    width: 600px;
    line-height: 150%;
    margin: 60px auto;
    text-align: left;
}

/* blog.html */
.blogContext {
    width: 100%;
    background-color: #eee;
    overflow: hidden;
}

.blogContext .blogMain {
    width: 980px;
    margin: 0 auto;
}

.blogContext .blogAticle {
    width: 70%;
    float: left;
}

.blogContext .blogAticle .myAticle {
    height: 400px;   
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

.blogContext .blogAticle .myAticle .leftMark {
    width: 50px;
    color: white;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    left: -50px;
    top: 20px;
}

.blogContext .blogAticle .myAticle .leftMark .date {
    background-color: #522a5c;
    height: 35px;
}

.blogContext .blogAticle .myAticle .leftMark .kind {
    background-color: #a660b7;
    height: 35px;
}

.blogContext .blogAticle .myAticle h3 {
    line-height: 0;
    font-size: 16px;
    color: #a660b7;
    font-weight: normal;
}

.blogContext .blogAticle .myAticle h5 {
    line-height: 0;
    font-size: 14px;
    color: #999;
    font-weight: normal;
}

.blogContext .blogAticle .myAticle p {
    font-size: 12px;
    line-height: 170%;
}

.blogContext .blogAticle .myAticle .author {
    font-size: 12px;
    color: #999;
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.blogContext .blogAticle .page {
    width: 80%;
    margin: 20px auto;
}

.blogContext .blogAticle .page a {
    display: inline-block;
    color: black;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
}

.blogContext .blogAticle .page a:hover {
    background-color: #a660b7;
    color: white;
}

.blogContext .blogNav {
    width: 29%;
    float: right;
}

.blogContext .blogNav .search {
    background-color: white;
    height: 35px;
    padding: 20px;
    margin-top: 20px;
}

.blogContext .blogNav .search input {
    height: 35px;
    width: 85%;
    float: left;
    border: 1px solid #eee;
}

.blogContext .blogNav .search #enter {
    float: left;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    color: white;
    background-color: #eee;
    border: 1px solid #eee;
}

.blogContext .blogNav .kind {
    background-color: white;
    margin-top: 20px;
}

.blogContext .blogNav .kind a {
    display: inline-block;
    color: #999;
    width: 100%;
    height: 50px;
    border-left: 3px solid #a660b7;
    border-bottom: 1px solid #eee;
    line-height: 50px;
}

.blogContext .blogNav .kind  a:hover {
    border-left: 3px solid #522a5c;
}

.blogContext .blogNav .dateTime {
    background-color: white;
    height: 260px;
    margin-top: 20px;
    padding: 30px 0;
}

.blogContext .blogNav .dateTime .dateMain {
    width: 90%;
    margin: 0 auto ;
    overflow: hidden;
}

.blogContext .blogNav .dateTime .dateMain .year {
    width: 90%;
    margin: 0 auto 20px;
    text-align: center;
    font-weight: bold;
    color: #a660b7;
}

.blogContext .blogNav .dateTime .dateMain .year .leftYear {
    float: left;
}

.blogContext .blogNav .dateTime .dateMain .year .rightYear {
    float: right;
}

 .blogContext .blogNav .dateTime .dateMain .sevenDay {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.blogContext .blogNav .dateTime .dateMain .sevenDay span {
    display: inline-block;
    color: #999;
    width: 30px;
    height: 35px;
}

.blogContext .blogNav .dateTime .dateMain a {
    display: inline-block;
    color: #999;
    width: 30px;
    height: 35px;
    line-height: 35px;
}

.blogContext .blogNav .dateTime .dateMain a:hover {
    background-color: #522a5c;
    color: white;
}

.blogContext .blogNav .dateTime .dateMain .otherDay {
    width: 100%;
    text-align: left;
    padding-left: 7px;
    border-bottom: 1px solid #eee;
}

.blogContext .blogNav .dateTime .dateMain .otherDay a {
    text-align: center;
}

.blogContext .blogNav .tags {
    background-color: white;
    height: 200px;
    margin-top: 20px;
    padding: 20px;
}

.blogContext .blogNav .tags h6 {
    font-size: 12px;
    color: #999;
    margin: 0;
}

.blogContext .blogNav .tags p {
    color: #a660b7;
}

.blogContext .blogNav .tags p .SizeLev1 {
    font-size: 30px;
    font-weight: bold;
}

.blogContext .blogNav .tags p .SizeLev2 {
    font-size: 25px;
}

.blogContext .blogNav .tags p .SizeLev3 {
    font-size: 20px;
}

/* gallery.html */
.galleryContext {
    width: 1180px;
    background-color: #eee;
    overflow: hidden;
}

.galleryContext .galleryMain {
    width: 980px;
    margin: 20px auto;
    background-color: white;
}

.galleryContext .galleryMain .waterfallsFlow {
    width: 70%;
    float: left;
}

.galleryContext .galleryMain .rightBar {
    width: 29%;
    float: right;
}

.galleryContext .galleryMain .rightBar .search {
    background-color: white;
    height: 35px;
    padding: 20px;
}

.galleryContext .galleryMain .rightBar .search input {
    height: 35px;
    width: 85%;
    float: left;
    border: 1px solid #eee;
}

.galleryContext .galleryMain .rightBar .search #enter {
    float: left;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    color: white;
    background-color: #eee;
    border: 1px solid #eee;
}

/* about.html */
.aboutContext {
    width: 1180px;
    background-color: #eee;
    overflow: hidden;
}

.aboutContext .aboutMain {
    width: 980px;
    margin: 70px auto 20px;
    background-color: white;
    padding-bottom: 150px;
}

.aboutContext .aboutMain .timeLine {
    width: 5px;
    height: 1130px;
    float: right;
    margin-right: 488px;
    margin-top: -950px;
    background-color: #eee;
}

.aboutContext .aboutMain .imgDivBig {
    width: 180px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.aboutContext .aboutMain .imgDivSmall {
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    text-align: center;
}

.aboutContext .aboutMain .myPicBig {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 90px;
    border: 8px solid #eee;
    margin-top: -50px;
}

.aboutContext .aboutMain .myPicSmall {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 5px solid #eee;
}

.aboutContext .aboutMain .descWord {
    margin: 0 auto;
    width: 780px;
    height: 130px;
    position: relative;
}

.aboutContext .aboutMain .descWord .leftWord {
    position: absolute;
    top: 0;
    right: 500px;
    font-size: 20px;
}

.aboutContext .aboutMain .descWord .rightWord {
    position: absolute;
    top: 0;
    left: 500px;
    font-size: 14px;
    text-align: left;
}

.aboutContext .aboutMain .descDateWord {
    margin: 0 auto;
    width: 780px;
    height: 60px;
    position: relative;
}

.aboutContext .aboutMain .descDateWord .leftWord {
    position: absolute;
    top: 0;
    right: 500px;
    font-size: 20px;
}

.aboutContext .aboutMain .descDateWord .centerWord {
    position: absolute;
    width: 70px;
    top: 0;
    left: 50%;
    margin-left: -40px;
    font-size: 14px;
    color: #eee;
    background-color: white;
    border-radius: 8px;
    border: 5px solid #eee;
    text-align: center;
}

.aboutContext .aboutMain .descDateWord .rightWord {
    position: absolute;
    top: 0;
    left: 500px;
    font-size: 14px;
    text-align: left;
}

